@model IEnumerable<inmobiliariaMVC.Models.Propietario>

@{
    ViewData["Title"] = "Index";
}

    <h3 class="text-center mt-4">Lista de propietarios</h3>

    <p>
 
        <a asp-action="Create" class="btn btn-success">Nuevo propietario</a>
    </p>

<table class="table">
    <caption>Listado Actualizado...</caption>
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Calle)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            
            <th scope="col">
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Calle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                
                <td>

                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Borrar</a>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Ver</a>
 
                </td>
            </tr>
        }
    </tbody>
</table>
